$gradientColor: linear-gradient(92.01deg, rgba(124, 111, 207, 0.97) 0%, rgba(116, 174, 170, 0.95) 49.13%, #6FCF97 100%);
$gradientReview: linear-gradient(92.01deg, rgba(124, 111, 207, 0.194) 0%, rgba(116, 174, 170, 0.19) 49.13%, rgba(111, 207, 151, 0.2) 100%);

.main {
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 0;

    &__wrapper {
        padding: 48px 62px 32px 62px;
        position: relative;

        &_background {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;

            .bitcoin {
                position: absolute;
                top: 0;
                right: 62px;
            }

            .litecoin {
                position: absolute;
                top: 277px;
                right: 282px;
            }

            .ethereum {
                position: absolute;
                top: 508px;
                right: 62px;
            }
        }
    }

    &__title {
        color: white;
        font-size: 84px;
        font-weight: 700;
        line-height: 101px;
        margin: 0 0 44px 0;
        text-transform: uppercase;

        span {
            background-image: $gradientColor;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__subtitle {
        color: #828282;
        font-size: 34px;
        font-weight: 400;
        line-height: 41px;
        margin: 0 0 88px 0;
    }
}

.advantages {
    max-width: 554px;
    max-height: 74px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;

    &__card {
        width: 97px;
        height: 74px;

        &-title {
            color: #F2F2F2;
            font-size: 48px;
            line-height: 48px;
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
        }

        &-subtitle {
            color: #F2F2F24D;
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            margin: 0;
        }
    }
}

.btn {
    font-family: "Teko", sans-serif;
    width: 532px;
    height: 56px;
    background: $gradientColor;
    border: none;
    border-radius: 16px;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 76px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 150px 0px #A5BFB46B;
            box-shadow: 0px 0px 150px 0px #A5BFB46B;
}

.apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &__app {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 20px;
        width: 132px;
        height: 54px;
        min-width: 100px;
        min-height: 34px;
        background-color: #302D2D57;
        border-radius: 12px;
        color: #F2F2F266;
        cursor: pointer;

        &_wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-left: 12px;
            margin-right: 8px;
            width: 24px;
            height: 24px;
        }

        &_text {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }

        &-subtitle {
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            margin: 0 0 2px 0;
        }

        &-title {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            margin: 0;
        }
    }
}

.reviews {
    position: absolute;
    top: 172px;
    right: 82px;
}

@media screen and (max-width: 1330px) {
    .reviews {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .main {
        &__wrapper {
            padding: 20px 16px 12px 16px;

            &_background {
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;

                .bitcoin {
                    right: 16px;

                    img {
                        width: 136px;
                        height: 188px;
                    }
                }

                .litecoin {
                    top: 70px;
                    right: 164px;

                    img {
                        width: 140px;
                        height: 160px;
                    }
                }

                .ethereum {
                    position: absolute;
                    top: 203px;
                    right: 16px;

                    img {
                        width: 136px;
                        height: 214px;
                    }
                }
            }
        }

        &__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 43.2px;
            text-align: center;
            margin: 0 0 20px 0;
            word-break: break-word;
        }

        &__subtitle {
            margin: 0 0 32px 0;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            word-break: break-word;
            min-width: 204px;
        }
    }

    .advantages {
        max-width: 288px;
        max-height: 50px;
        margin: 0 auto;
        margin-bottom: 28px;

        .subscribers {
            max-width: 57px;
        }

        .rating {
            margin-right: 0;
            max-width: 61px;
        }

        .cases {
            max-width: 71px;
        }

        &__card {
            text-align: left;

            &-title {
                font-size: 28px;
                font-weight: 700;
                line-height: 28px;
            }

            &-subtitle {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }

    .btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 auto;
        max-width: 288px;
        margin-bottom: 18px;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        -webkit-box-shadow: 0px 0px 110px 0px #A5BFB452;
                box-shadow: 0px 0px 110px 0px #A5BFB452;
    }

    .apps {
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        .appstore {
            margin-right: 0;
        }

        &__app {
            max-width: 100px;
            max-height: 34px;
            margin-right: 16px;

            &_wrapper {
                margin-left: 7px;
                margin-right: 8px;
                width: 20px;
                height: 20px;
            }

            &-subtitle {
                font-size: 10px;
                font-weight: 400;
                line-height: 10px;
                text-align: left;
            }

            &-title {
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                text-align: left;
            }
        }
    }

}